@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Oxanium:wght@300;400;700 & family= Sriracha & display=swap');

:root{
    --fonte1: verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
   
    margin: 0px;
    padding: 0px;
}






header{
    text-align: center;
    padding: 0px;
   
    
  
   
}

h2{
   margin-top: 0px;
    text-align: center;
    font-size: 150%;
   
    color: rgb(0, 0, 0);
    font-weight: bolder;
   
   
    
   
}

nav{
    text-align: center;
    padding: 3px;

  
    
}

a{
    font-size: 1em;
    color: #16ACC7;
    text-decoration: none;
    padding-left: 15px;
    font-weight: bolder;


}
    


img{
    width: 100%;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--fonte3);
    font-size: clamp(1em, 0.7em + 1vw, 1.5em);
    font-weight: bolder;
   
}

section > p.papai{
    text-align: center;
}

section.normal{
    background-color: white;
    color: black;
  }

section.imagem{
    background-color: rgb(46, 42, 42);
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.212);
    text-shadow: 2px 1px 0px black;
}

section#imagem01{
    
    background-image: url(../imagens/imagem-01c.png);
    background-position: center center;
  

    
}

section#imagem02{
    background-image: url(../imagens/2.jpg);
    background-position: center center;
   
}

div.tudo{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.438);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div{
    padding: 10px;
}



footer{
   
    background-color: #16ACC7;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}