@charset "UTF-8";

*{
   
    margin: 0px;
    padding: 0px;
}

header{
    text-align: center;
   
}

img{
    width: 100%;
}

section{
    padding-top: 15vh;
    padding-bottom: 15vh;
    line-height: 2em;
    padding-left: 30px;
    padding-right: 30px;
}

section > p.papai{
    text-align: center;
}

section.normal{
    background-color: white;
    color: black;
  }

section.imagem{
    background-color: rgb(46, 42, 42);
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}

section#imagem01{
   
    background-image: url(../imagens/papai-e-vovó-01.jpg);
    background-position: center center;
    
}